{% extends "layout.html" %}



{% block content %}
    <style>
        dt {font-weight: bold;}
    </style>

        {% if search_enabled -%}
            <form action="?search=">
                Search for AusPIX DGGS cell <em>{{ register_item_type_string }}:</em><br>
                <input type="text" name="search">
                <input type="submit" value="Submit">
            </form>
        {% endif -%}

    <dl>
        <dt><i><a title="{{ hasName['comment'] }}" href="{{ hasName['uri'] }}">{{ hasName['label'] }}</a></i></dt>
        <dd><h2>{{ hasName['value'] }}</h2></dd>


        <h3>AusPIX cell {{ dggs }}</h3>
        <p><code>{{ uri }}</code></p>


        <iframe id="inlineFrameMap"
            title="Map for {{ hasName }}"
            width="1150"
            height="250"
            src="{{ url_for('controller.show_map') }}?name={{ hasName['value']|urlencode }}&location={{ corners }} &x={{ x }} &y={{ y }}">
        </iframe>


        <dt>Centroid of Auspix cell (ellipsoidal)(lat/long):</dt>
        <dd><em>{{ y, x }}</em></dd>

        <dt>AusPIX DGGS cell index:</dt>
        <dd><em>{{ dggs }}</em></dd>

        <dt>cell area_m2 (ellipsoidal):</dt>
        <dd><em>{{ area_m2 }}</em></dd>

        <dt>Neighbours of this cell:</dt>
        <dd><em>{{ neighs }}</em></dd>

        <dt>Corners of cell (long/lat):</dt>
        <dd><em>{{ corners }}</em></dd>

        <dt>Contains child cells:</dt>
        <dd><em>{{ contains }}</em></dd>

        <dt>Part of parent cell:</dt>
        <dd><em>{{ partOfCell }}</em></dd>


    </dl>
    <p>
        Alternative views and formats for this resource:
    </p>
    <ul>
        <li><a href="?_view=alternates">Alternate Views</a></li>
    </ul>

{% endblock %}



