{% extends "layout.html" -%}

{% block content -%}
        <h1>AusPIX crosswalk data (integrated)</h1>
        <h2>Search for any AusPIX cell </h2>
        <p>AusPIX crosswalk relationships are pre-calculated for speed.</p>



        <p></p>
        {% if search_enabled -%}
            <form action="?search=">
                Enter a cell ID (e.g. R7852345672) <em>{{ register_item_type_string }}:</em><br>
                <input type="text" name="search">
                <input type="submit" value="Submit">
            </form>
        {% endif -%}


        <tr>
            <td style="vertical-align:top; width:500px;">
                <h3>Found AusPIX cell
                {% if search_query -%}
                    with search query "<strong>{{ search_query }}</strong>"

                </h3>
                {% endif -%}


            </td>
            <td style="vertical-align:top;">

            </td>
        </tr>
    <p> Click this link to go to landing page . . . </p>
    <a href=" {{ search_query }}">{{ search_query }}</a>


{% endblock -%}