
{% extends "layout.html" %}



{% block content %}
    <style>
        dt {font-weight: bold;}
    </style>



    <dl>
        <dt><i><a title="{{ hasName['comment'] }}" href="{{ hasName['uri'] }}">{{ hasName['label'] }}</a></i></dt>
        <dd><h2>{{ hasName['value'] }}</h2></dd>

        <h3>AusPIX cell {{ ausPIX_DGGS }}</h3>
        <p><code>{{ uri }}</code></p>


        <iframe id="inlineFrameMap"
            title="Map for {{ hasName['value'] }}"
            width="1150"
            height="250"
            src="{{ url_for('controller.show_map') }}?name={{ hasName['value']|urlencode }}  &location={{ crns }}">
        </iframe>


        <dt>Position Lat Long (Upper Left):</dt>
        <dd><em>{{ latitude, longitude }}</em></dd>

        <dt>AusPIX DGGS location:</dt>
        <dd><em>{{ ausPIX_DGGS }}</em></dd>

        <dt>AusPIX cell area km2</dt>
        <dd><em>{{ area_km2 }}</em></dd>

        <dt>AusPIX cell width m</dt>
        <dd><em>{{ width_m }}</em></dd>

    </dl>
    <p>
        Alternative views and formats for this resource:
    </p>
    <ul>
        <li><a href="?_view=alternates">Alternate Views</a></li>
    </ul>
{% endblock %}



