{% extends "layout.html" %}

    {% block content %}
        <h1>AusPIX data crosswalk information</h1>
        <h2>Data from National data Integration Tables and Linked Datasets</h2>
        <h3>Locate and integrate data using DGGS technology</h3>
        <h3>Beta version 0.3 with pyldapi v3.9</h3>

        <p>This linked data API connects AusPIX cells at Level 10 to the National Crosswalk database. </p>
        <p> There are billions of AusPIX cells over the various hierarchical levels, so rather than storing all these
            in a database they are calculated on-the-fly as required. </p>
        <p> Each of these cell has been spatially linked to a diverity of geographics and rasters to allow users
            to benefit from the data relationships between these. </p>

        <p> </p>
        <p>Technical feedback on the AusPIX Discrete Global Grid System is most welcome,
            and users are encouraged to contact us using "Contact us" link below.</p>

    {% endblock %}
