{% extends "layout.html" %}

    {% block content %}
        <h1>AusPIX Discrete Global Grid System</h1>
        <h2>Database of AusPIX cells and their attributes</h2>
        <h3>Locate and integrate data using DGGS technology</h3>
        <h3>Beta version 0.5 with pyldapi v3.9</h3>

        <p>This linked data API connects the database of the AusPIX DGGS hierarchical spatial systems. </p>
        <p> There are billions of AusPIX cells over the various hierarchical levels, so rather than storing all these
            in a database they are calculated on-the-fly as required. </p>

        <p> </p>
        <p>Technical feedback on the AusPIX Discrete Global Grid System is most welcome,
            and users are encouraged to contact us using "Contact us" link below.</p>

    {% endblock %}
