{% extends "layout.html" -%}

{% block content -%}
        <h1>AusPIX Discrete Global Grid System</h1>
        <h2>Register View of AusPIX of resolution level 6 </h2>
        <p>AusPIX cells are hierarchical and are usually calculated when needed.</p>
        <p>This Register contains larger example cells to demonstrate locations. Any cell ID with the same 7 leading
            characters will be inside these parent cells. </p>
        
        <p></p>
        {% if search_enabled -%}
            <form action="?search=">
                Search Register <em>{{ register_item_type_string }}:</em><br>
                <input type="text" name="search">
                <input type="submit" value="Submit">
            </form>
        {% endif -%}

        <table>
            <tr>
                <td style="vertical-align:top; width:500px;">
                    <h3>Items in this Register
            		{% if search_query -%}
            			with search query "<strong>{{ search_query }}</strong>"
            			<form action="">
                			<input type="submit" value="Go back to all items">
            			</form>
            		</h3>
            		{% endif -%}   
                             
            		<ul>
                    {%- for item in register_items -%}
                        {%- if item is not string -%}
                        <li><a href="{{ item[0] }}">{{ item[0] }} - {{ item[1] }}</a></li>
                        {%- else -%}
                        <li><a href="{{ item }}">{{ item.split('#')[-1].split('/')[-1] }}</a></li>
                        {%- endif -%}
                    {%- endfor -%}
                    </ul>
                </td>
                <td style="vertical-align:top;">

                </td>
            </tr>
            {%  if pagination.links -%}
            <tr><td colspan="2">
                <h5>Paging</h5>
                {{ pagination.links }}
            </td></tr>
            {%  endif -%}
        </table>
{% endblock -%}
